{% extends "base.html" %}

{% block title %}
Home
{% endblock title %}

{% block body %}

<div class="container my-5">
    <center>
        <div class="col-4">
            <h1>{{user.email}}</h1>
    <form method="post" class="border rounded shadow-lg p-3 form-group">
        {% csrf_token %}
       
        <label for="newpassword" class="form-label">New Password</label>
        <input type="text" id="newpassword" name="newpassword" class="form-control" required><br><br>
        <label for="Cnewpassword" class="form-label">Confirm New Password</label>
        <input type="text" id="Cnewpassword" name="Cnewpassword" class="form-control"><br><br>
        <input type="submit" value="Save Change" class="btn btn-primary">
    </form>
</div>
</center>
</div>

{% endblock body %}