{% extends "base.html" %}

{% block title %}
Home
{% endblock title %}

{% block body %}

<div class="container my-5">
    <center>
        <div class="col-4">
            <h1>{{user.email}}</h1>

            {% if messages %}
            {% for msg in messages %}
                    {{msg}}
            {% endfor %}
            {% endif %}
            <form method="post" class="border rounded shadow-lg p-3 form-group">
                {% csrf_token %}

                <label for="username" class="form-label">Enter Username</label>
                <input type="text" id="username" name="username" class="form-control" required><br><br>
                <input type="submit" value="Send OTP" class="btn btn-primary">
            </form>
        </div>
    </center>
</div>

{% endblock body %}