{% extends "base.html" %}

{% block title %}
Home
{% endblock title %}

{% block body %}

<div class="container my-5">
    <center>
        <div class="col-4">
            <h1>{{user.email}}</h1>
    <form action="% url 'forgot_password_otp' %}" method="post" class="border rounded shadow-lg p-3 form-group">
        {% csrf_token %}
       
        <label for="otp" class="form-label">Enter you Otp</label>
        <input type="text" id="otp" name="otp" class="form-control" required><br><br>
        <input type="submit" value="verify" class="btn btn-primary">
    </form>
</div>
</center>
</div>

{% endblock body %}